<div class="container">
    <div class="content">
        <div class="filter-box">
            <div class="search-by-term">
                <img src="assets/images/search.png" alt="search">
                <input class="search-term-input" type="text" placeholder="Search for a country..." />
            </div>
            <div class="search-by-region">
                <select class="search-by-region-select">
                    <option disabled selected>Filter by region</option>
                    <option value="1">Opcion 1</option>
                    <option value="2">Opcion 2</option>
                    <option value="3">Opcion 3</option>
                    <option value="4">Opcion 4</option>
                </select>
            </div>
        </div>
        <div class="countries-container">
            <app-country-card routerLink='/country/asd'></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
            <app-country-card></app-country-card>
        </div>
    </div>
</div>